.table {
    max-width: 750px;
    width: 100%;
    border-collapse: collapse;
    font-family: Helvetica, "Arial Unicode MS", sans-serif;
    margin: auto;
    font-size: 18px;
    text-align: left;
    margin-block-start: 30px;
    box-sizing: border-box;
}

.table td, .table th {
    text-align: left;
    border: 1px solid #dbdbdb;
    padding: 12px 10px;
    color: #454545;
}

.table th {
    font-weight: normal;
    background-color: #3498db;
    color: #ffffff;
}

.table tbody tr:nth-child(odd) {
    background-color: #eee;
}